<!-- CONTENEDOR -->
<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer style="width: 200px;" [opened]="showSiderbar" #drawer class="example-sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>


  <!-- CONTENIDO -->
  <div class="example-sidenav-content">

    <!-- TOOLBAR -->
    <app-toolbar (toggleSidebar)="showSiderbar = !showSiderbar"></app-toolbar>

    <!-- <app-icons></app-icons> -->
    <main style="padding: 1rem;">

      <button (click)="style === 'bolder' ? style = 'normal' : style = 'bolder'">Clickme!</button>
      <h1 [fontWeight]="style" appHeadline>Usuarios</h1>
      <!-- <h1 fontWeight="bolder" appHeadline>Usuarios</h1> -->

      <!-- PAGINA -->
      <!-- <app-forms></app-forms> -->
      <app-users></app-users>

      <!-- <button (click)="showHome = !showHome">MOSTRAR HOME</button>
      <app-home *ngIf="showHome"></app-home> -->

    </main>
  </div>

</mat-drawer-container>